{{#if contentIsViewable}}
  {{yield}}
{{else}}
  <div class="timeline-item-nav-slideshow-nsfw">
    <h2>{{t "contentWarnings.header"}}</h2>
    <div class="timeline-item-nav-slideshow-nsfw-info">
      {{#link-to "users.user.profile.index" content.user.username}}
        {{#if content.user.displayName}}
          {{{inject-emoji content.user.displayName}}}
        {{/if}}
        <span class="at-username">
          @{{content.user.username}}
        </span>
      {{/link-to}}
    </div>
    <div class="timeline-item-nav-slideshow-nsfw-info">{{{t "contentWarnings.description"}}}</div>
    <div class="timeline-item-nav-slideshow-nsfw-info">
      <ul>
        {{#each content.tags as |tag|}}
          <li>
            {{#paper-checkbox value=(not (contains tag.id blacklistedTagIds)) onChange=(action "toggleTag" tag)}}
              {{tag.name}}
            {{/paper-checkbox}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{#paper-button onClick="approveTimelineItem"}}{{t "contentWarnings.approve"}}{{/paper-button}}
  </div>
{{/if}}
