{{#paper-form onSubmit=(action "submit") as |form|}}
  {{#paper-subheader class="md-no-sticky"}}{{t "flags.report"}}{{/paper-subheader}}
  {{#paper-checkbox
    value=changeset.trolling
    onChange=(action (mut changeset.trolling))
  }}
    <span class="flag-modal-checkbox-label-name">{{t "flags.attributes.trolling.name"}}</span> <span class="flag-modal-checkbox-label-description">{{t "flags.attributes.trolling.description"}}</span>
  {{/paper-checkbox}}

  {{#paper-checkbox
    value=changeset.illicitActivity
    onChange=(action (mut changeset.illicitActivity))
  }}
    <span class="flag-modal-checkbox-label-name">{{t "flags.attributes.illicitActivity.name"}}</span> <span class="flag-modal-checkbox-label-description">{{t "flags.attributes.illicitActivity.description"}}</span>
  {{/paper-checkbox}}

  {{#paper-checkbox
    value=changeset.bot
    onChange=(action (mut changeset.bot))
  }}
    <span class="flag-modal-checkbox-label-name">{{t "flags.attributes.bot.name"}}</span> <span class="flag-modal-checkbox-label-description">{{t "flags.attributes.bot.description"}}</span>
  {{/paper-checkbox}}

  {{#paper-checkbox
    value=changeset.unconsentingImage
    onChange=(action (mut changeset.unconsentingImage))
  }}
    <span class="flag-modal-checkbox-label-name">{{t "flags.attributes.unconsentingImage.name"}}</span> <span class="flag-modal-checkbox-label-description">{{t "flags.attributes.unconsentingImage.description"}}</span>
  {{/paper-checkbox}}

  {{paper-input
    value=changeset.text
    textarea=true
    block=true
    label=(t "flags.attributes.text.label")
    onChange=(action (mut changeset.text))
    errors=changeset.error.text.validation
  }}

  {{form-controls form=form cancel=(action "cancel")}}
{{/paper-form}}
