{{#link-to "moderation.flags.flag" flag class="flag-item-link"}}
  <div class="flag-item-text">
    <div class="flag-item-date">{{sometimes-relative-date date=flag.date}}</div>

    {{violation-list flag=flag}}

    {{#if flag.moderationReport.flaggable.content.constructor.modelName}}
      {{#if (eq flag.moderationReport.flaggable.content.constructor.modelName "post")}}
        {{#link-to "posts.post" flag.moderationReport.flaggable.id classNames="flag-item-flaggable-link"}}
          {{t "moderation.linkToPost"}}
        {{/link-to}}
      {{else}}
        {{#link-to "comments.comment" flag.moderationReport.flaggable.id classNames="flag-item-flaggable-link"}}
          {{t "moderation.linkToComment"}}
        {{/link-to}}
      {{/if}}
    {{/if}}

    {{#if flag.text}}
      {{rich-text text=flag.text class="flag-item-comment"}}
    {{/if}}

    {{#if flag.moderationReport.moderatorComment}}
      <div class="flag-item-moderator-comment">
        <div class="flag-item-date">{{sometimes-relative-date date=flag.moderationReport.date}}</div>
        {{#rich-text text=flag.moderationReport.moderatorComment}}
          {{#link-to "users.user.profile.index" flag.moderationReport.moderator.username classNames="flag-item-moderator-link"}}{{#if flag.moderationReport.moderator.displayName}}{{{inject-emoji flag.moderationReport.moderator.displayName}}} {{/if}}<span class="at-username">@{{flag.moderationReport.moderator.username}}</span>{{/link-to}}
        {{/rich-text}}
      </div>
    {{/if}}
  </div>
  {{violation-status report=flag.moderationReport}}
{{/link-to}}
