{{#link-to "users.user.profile" user.username class="follow-item-link"}}
  <img src={{user.userProfile.avatar}} class="follow-item-avatar">
  <div class="follow-item-text">
    <div class="follow-item-username">{{user.username}}{{#if (and isCurrentUserFollower follow.requestedPrivate)}}<span class="follow-item-request"> - {{t "followers.requestedPrivate"}}</span>{{/if}}</div>
    {{#if isCurrentUserFollower}}
      {{#if follow.canViewPrivate}}
        {{#paper-button onClick="revokePrivateAccess" raised=true warn=true disabled=buttonDisabled class="follow-item-button"}}{{t "followers.revoke"}}{{/paper-button}}
      {{else}}
        {{#paper-button onClick="grantPrivateAccess" raised=true disabled=buttonDisabled class="follow-item-button"}}{{t "followers.grant"}}{{/paper-button}}
      {{/if}}
    {{else}}
      <div class="follow-item-description">{{rich-text text=user.userProfile.description}}</div>
    {{/if}}
  </div>
{{/link-to}}
