<div class="row">
  <div class="column small-12 button-group text-right">
    <button type="button" class="secondary button" {{action "handleCancel"}}>{{t "general.cancel"}}</button>
    <button type="button" class="success button" {{action "handleSubmit"}} disabled={{disabled}}>{{t "general.submit"}}</button>
  </div>
</div>
