<div class="moderation-panel-nav">
  <a {{action "shrink"}} class="{{if (eq state undefined) 'selected'}}">{{fa-icon "compress" size=2}}</a>
  <a {{action "displayFlags"}} class="{{if (eq state 'flags') 'selected'}}">{{fa-icon "flag-o" size=2}}</a>
  <a {{action "displayHistory"}} class="{{if (eq state 'history') 'selected'}}">{{fa-icon "clock-o" size=2}}</a>
  <a {{action "displayForm"}} class="{{if (eq state 'form') 'selected'}}" disabled={{disabled}}>{{fa-icon "balance-scale" size=2}}</a>
  <a {{action "toggleComments"}} class="moderation-panel-nav-comments">{{fa-icon "comment-o" size=2 flip="horizontal"}}</a>
</div>

{{#if (eq state "history")}}
  <div class="moderation-panel-content">
    {{#each indictions as |indiction|}}
      {{#link-to "moderation.reports.report" indiction.id class="moderation-panel-item moderation-panel-item-link"}}
        <div class="moderation-panel-date">{{#if indiction.verdicts.lastObject.insertedAt}}{{sometimes-relative-date date=indiction.verdicts.lastObject.insertedAt}}{{else}}{{t "moderation.pending"}}{{/if}}</div>
        {{violation-aggregator report=indiction}}
        {{rich-text text=indiction.verdicts.lastObject.moderatorComment}}
      {{/link-to}}
    {{else}}
      <div class="moderation-panel-blank-info">{{t "moderation.noOtherIndictions"}}</div>
    {{/each}}
  </div>
{{else if (eq state "flags")}}
  <div class="moderation-panel-content">
    {{#each report.flags as |flag|}}
      <div class="moderation-panel-item">
        <div class="moderation-panel-date">{{sometimes-relative-date date=flag.insertedAt}}</div>
        {{violation-list flag=flag}}
        {{rich-text text=flag.text}}
      </div>
    {{/each}}
  </div>
{{else if (eq state "form")}}
  <div class="moderation-panel-content moderation-panel-form">
    {{#paper-form as |form|}}
      <div class="moderation-panel-checkboxes">
        {{#paper-checkbox
          value=changeset.actionMarkFlaggableForDeletion
          onChange=(action (mut changeset.actionMarkFlaggableForDeletion))
        }}
          {{t "moderation.deleteFlaggable"}}
        {{/paper-checkbox}}

        {{#paper-checkbox
          value=changeset.actionIgnoreFlags
          onChange=(action (mut changeset.actionIgnoreFlags))
        }}
          {{t "moderation.isIgnoringFlags"}}
        {{/paper-checkbox}}
      </div>

      <div class="moderation-panel-checkboxes">
        {{#paper-checkbox
          value=changeset.actionMarkImagesForDeletion
          onChange=(action (mut changeset.actionMarkImagesForDeletion))
        }}
          {{t "moderation.deleteMedia"}}
        {{/paper-checkbox}}

        {{#paper-checkbox
          value=openMaturityRating
          onChange=(action (mut openMaturityRating))
        }}
          {{t "moderation.changeMaturityRating"}}
        {{/paper-checkbox}}
      </div>

      {{#if openMaturityRating}}
        <div class="moderation-panel-maturity-rating">
          <div class="moderation-panel-maturity-rating-description">
            {{maturity-rating rating=changeset.actionChangeMaturityRating}}
          </div>
          {{range-slider
            start=changeset.actionChangeMaturityRating
            connect="lower"
            min=0
            max=4
            step=1
            on-slide=(action (mut changeset.actionChangeMaturityRating))
          }}
        </div>
      {{/if}}

      {{#if changeset.actionMarkImagesForDeletion}}
        <div class="moderation-panel-delete-media">
          {{#each report.timelineItem.timelineable.panels as |panel|}}
            <div>{{panel.order}}: {{panel.id}}{{#if panel.isMarkedForDeletion}} (deleted){{/if}};</div>
          {{/each}}

          {{paper-input
            value=deleteImageIds
            onChange=(action (mut deleteImageIds))
          }}
        </div>
      {{/if}}

      <div class="moderation-panel-checkboxes moderation-panel-checkboxes-with-duration">
        {{#paper-checkbox
          value=changeset.actionBannedUser
          onChange=(action (mut changeset.actionBannedUser))
          classNames="moderation-panel-checkbox-with-duration"
        }}
          {{t "moderation.banUser"}}
        {{/paper-checkbox}}

        {{pikaday-input
          format="MM/DD/YYYY h:mm a"
          value=changeset.banUserUntil
          classNames="pikaday-input"
          placeholder=(t "moderationReport.attributes.banUserUntil.label")
          onSelection=(action (mut changeset.banUserUntil))
        }}
      </div>

      <div class="moderation-panel-checkboxes moderation-panel-checkboxes-with-duration">
        {{#paper-checkbox
          value=changeset.actionLockComments
          onChange=(action (mut changeset.actionLockComments))
          classNames="moderation-panel-checkbox-with-duration"
        }}
          {{t "moderation.lockComments"}}
        {{/paper-checkbox}}

        {{pikaday-input
          format="MM/DD/YYYY h:mm a"
          value=changeset.lockCommentsUntil
          classNames="pikaday-input"
          placeholder=(t "moderationReport.attributes.lockCommentsUntil.label")
          onSelection=(action (mut changeset.lockCommentsUntil))
        }}
      </div>

      {{paper-input
        value=changeset.moderatorComment
        textarea=true
        block=true
        label=(t "moderationReport.attributes.moderatorComment.label")
        onChange=(action (mut changeset.moderatorComment))
        errors=changeset.error.moderatorComment.validation
        classNames="moderation-panel-comment-field"
      }}

      <div class="moderation-panel-controls">
        {{paper-button
          raised=true
          disabled=disabled
          label=(t "moderation.notViolation")
          onClick=(action "markAsNotViolation")
        }}

        {{paper-button
          raised=true
          disabled=disabled
          label=(t "moderation.violation")
          onClick=(action "markAsViolation")
        }}
      </div>
    {{/paper-form}}
  </div>
{{/if}}
