{{#if commentsExpanded}}
  {{paper-button
    raised=true
    label=(t "moderation.contractComments")
    classNames="moderation-panel-expand-toggle"
    onClick=(action "contractComments")
  }}
{{else}}
  {{paper-button
    raised=true
    label=(t "moderation.expandComments")
    classNames="moderation-panel-expand-toggle"
    onClick=(action "expandComments")
  }}
{{/if}}

<div class="moderation-panel-flags">
  {{#if commentsExpanded}}
    <div class="moderation-panel-flag-count">
      {{#each-in violations as |type amount|}}
        {{type}}: {{amount}};
      {{/each-in}}
    </div>

    {{#each report.flags as |flag|}}
      {{#if flag.text}}
        <div class="moderation-panel-comment">
          <div>{{sometimes-relative-date date=flag.date}}</div>
          {{rich-text text=flag.text}}
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
</div>

<div class="moderation-panel-form">
  {{#paper-form as |form|}}
    {{paper-input
      value=changeset.moderatorComment
      textarea=true
      block=true
      label=(t "violationReport.attributes.moderatorComment.label")
      onChange=(action (mut changeset.moderatorComment))
      errors=changeset.error.moderatorComment.validation
    }}

    <div class="moderation-panel-controls">
      {{paper-button
        raised=true
        label=(t "moderation.notViolation")
        onClick=(action "markAsNotViolation")
      }}

      {{paper-button
        raised=true
        label=(t "moderation.violation")
        onClick=(action "markAsViolation")
      }}
    </div>
  {{/paper-form}}
</div>
