{{#if (gt matureContent.maturityRating currentMaturityRating)}}
  <div class="timeline-item-nav-slideshow-nsfw">
    <h2>{{t "matureContent.header"}}</h2>
    <div class="timeline-item-nav-slideshow-nsfw-info">{{{t "matureContent.ratings"}}}</div>
    <div class="timeline-item-nav-slideshow-nsfw-info">{{{t "matureContent.session"}}}</div>
    <div class="timeline-item-nav-slideshow-nsfw-info">{{{t "matureContent.storage"}}}</div>
    <div class="timeline-item-nav-slideshow-nsfw-info">
      {{{t "matureContent.current"}}}
      <strong>{{maturity-rating rating=matureContent.maturityRating}}</strong>
    </div>

    <div class="timeline-item-nav-slideshow-nsfw-maturity-rating">
      <div class="timeline-item-nav-slideshow-nsfw-maturity-rating-description">
        {{maturity-rating rating=newMaturityRating}}
      </div>
      {{range-slider
        start=currentMaturityRating
        connect="lower"
        min=0
        max=3
        step=1
        on-slide=(action (mut newMaturityRating))
      }}
    </div>

    <div class="timeline-item-nav-slideshow-nsfw-buttons">
      {{#paper-button
        raised=true
        onClick=(action "changeMaturityRatingForSession")
      }}
        {{t "matureContent.enable"}} {{fa-icon "clock-o"}}
      {{/paper-button}}
      {{#paper-button
        raised=true
        onClick=(action "changeMaturityRatingForAlways")
      }}
        {{t "matureContent.enable"}} ∞
      {{/paper-button}}
    </div>
  </div>
{{else}}
  {{yield}}
{{/if}}
