{{#paper-form classNames="post-form-form" onSubmit=(route-action "submit" changeset) as |form|}}
  {{component viewPath panels=post.panels changeset=changeset form=form uploadFileToRoute=(route-action "uploadFile")}}

  <div>
    <a {{action "transition" "text"}}>{{fa-icon "font"}}</a>
    <a {{action "transition" "image"}}>{{fa-icon "camera"}}</a>
    <a {{action (route-action "submit" changeset)}}>{{fa-icon "check"}}</a>
  </div>
{{/paper-form}}
