{{#paper-form classNames="post-form-form" onSubmit=(route-action "submit" changeset) as |form|}}
  <div class="post-form-main">
    {{component viewPath post=post changeset=changeset form=form}}
  </div>

  <div class="post-form-controls main-layout-constraint">
    <button class="post-form-controls-element" {{action "transition" "text"}}>{{fa-icon "font" size=2}}</button>
    <button class="post-form-controls-element" {{action "transition" "image"}}>{{fa-icon "camera" size=2}}</button>
    <button class="post-form-controls-element" {{action (route-action "submit" changeset)}} disabled={{disabled}}>{{fa-icon "check" size=2}}</button>
  </div>
{{/paper-form}}
