{{#paper-form onSubmit=(route-action "submit" post) as |form|}}
  {{#paper-list}}
    {{#paper-subheader class="md-no-sticky"}}{{t "post.new"}}{{/paper-subheader}}
    {{#paper-item}}

    {{#file-dropzone name="photos" as |dropzone queue|}}
      {{#if dropzone.active}}
        {{#if dropzone.valid}}
          {{t "file.drop"}}
        {{else}}
          {{t "file.invalid"}}
        {{/if}}
      {{else if queue.files.length}}
        {{t "file.progress" length=queue.files.length progress=queue.progress}}
      {{else}}
        <h2>{{t "file.uploadImages"}}</h2>
        <p>
          {{#if dropzone.supported}}
            {{t "file.dragAndDrop"}}
          {{/if}}
          {{#file-upload name="imageFile"
                         accept="image/*"
                         multiple=true
                         onfileadd=(route-action "uploadImage")}}
            <a id="upload-image" tabindex=0>{{t "file.addAnImage"}}</a>
          {{/file-upload}}
        </p>
      {{/if}}
    {{/file-dropzone}}

    {{/paper-item}}
    {{#paper-item}}
      {{form.input
        textarea=true
        block=true
        value=changeset.text
        label=(t "post.attributes.text.label")
        onChange=(action (mut changeset.text))
        errors=changeset.error.text.validation
        passThru=(hash rows=5 maxRows=5)
      }}
    {{/paper-item}}
  {{/paper-list}}

  {{#form-controls form=form cancel=(action "cancel")}}
  {{/form-controls}}
{{/paper-form}}
