<h1 class="tag-search-modal-title">{{t "tagSearch.title"}}</h1>

{{#if author}}
  <div class="share-modal-timeline-options">
    {{#paper-button raised=true primary=(eq selected "author") onClick=(action "select" "author") class="tag-search-modal-button"}}
      {{t "tagSearch.selectAuthor" username=author.username}}
    {{/paper-button}}
    {{#paper-button raised=true primary=(eq selected "all") onClick=(action "select" "all") class="tag-search-modal-button"}}
      {{t "tagSearch.selectAll"}}
    {{/paper-button}}
  </div>
{{/if}}

<div class="tag-search-modal-options">
  {{#if selectedTags}}
    <div class="tag-search-modal-option-set">
      <h2 class="tag-search-modal-sub-title">{{t "tagSearch.tags"}}</h2>
      <ul class="tag-search-modal-option-list">
        {{#each selectedTags as |tag|}}
          <li class="tag-search-modal-option-item">
            {{#paper-checkbox value=tag.selected onChange=(action (mut tag.selected))}}
              #{{tag.name}}
            {{/paper-checkbox}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if (and selectedUsers (eq selected "author"))}}
    <div class="tag-search-modal-option-set">
      <h2 class="tag-search-modal-sub-title">{{t "tagSearch.users"}}</h2>
      <ul class="tag-search-modal-option-list">
        {{#each selectedUsers as |user|}}
          <li class="tag-search-modal-option-item">
            {{#paper-checkbox value=user.selected onChange=(action (mut user.selected))}}
              @{{user.name}}
            {{/paper-checkbox}}
            <button class="link-like tag-search-modal-link" {{action "goToProfile" user.name}}>
              {{fa-icon "link"}}
            </button>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>

{{#paper-button raised=true primary=true onClick=(action "search") class="tag-search-modal-button"}}{{t "tagSearch.search"}}{{/paper-button}}
