<div class="top-bar-content top-bar-layout-constraint">
  <a class="top-bar-element" {{action "back"}}>{{fa-icon "chevron-left" size=2}}</a>
  <span class="top-bar-title top-bar-element">{{title}}</span>
  <span class="top-bar-element">{{fa-icon "bell-o" size=2}}</span>
  <a class="top-bar-element" {{action "toggleMenu"}}>{{fa-icon "bars" size=2}}</a>
</div>

{{#if menuIsOpen}}
  {{#liquid-tether
    target=".top-bar-content"
    attachment="top right"
    targetAttachment="bottom right"
    to="top-bar-menu-destination"
    class="top-bar-menu-modal"
  }}
    {{top-bar-menu
      toggleMenu=(action "toggleMenu")
    }}
  {{/liquid-tether}}
{{/if}}
