<div class="top-bar-content top-bar-layout-constraint">
  <span class="top-bar-element">{{fa-icon "chevron-left" size=2}}</span>
  <span class="top-bar-title top-bar-element">{{#link-to "users.user" 1}}Stevonnie7{{/link-to}}</span>
  <span class="top-bar-element">{{fa-icon "bell-o" size=2}}</span>
  <span class="top-bar-element">{{fa-icon "bars" size=2}}</span>
  <!-- <ul>
    {{#if session.isAuthenticated}}
      <a {{action "signOut"}}>{{t "auth.signOut"}}</a>
    {{else}}
      <li><a {{action "signIn"}}>{{t "auth.signIn"}}</a></li>
      <li><button type="button" {{action "signUp"}}>{{t "auth.signUp"}}</button></li>
    {{/if}}
  </ul> -->
</div>
