<ul>
  {{#if session.isAuthenticated}}
    <a {{action "signOut"}}>{{t "auth.signOut"}}</a>
  {{else}}
    <li><a {{action "signIn"}}>{{t "auth.signIn"}}</a></li>
    <li><button type="button" {{action "signUp"}}>{{t "auth.signUp"}}</button></li>
  {{/if}}
</ul>
