<div class="profile-header">
  {{#if (or user.userProfile.avatar isEditing)}}
    <div class="profile-header-avatar-container {{if isEditing 'profile-header-avatar-container-full-size'}}">
      {{#if user.userProfile.avatar}}<img class="profile-header-avatar" src={{user.userProfile.avatar}}>{{/if}}
      {{#if isEditing}}
        <a {{action "changeAvatar"}} class="profile-header-avatar-new-overlay">
          {{fa-icon "camera" size=2}}
          <div class="profile-header-avatar-new-overlay-text">{{t "profile.changeAvatar"}}</div>
        </a>
      {{/if}}
    </div>
  {{/if}}

  <div class="profile-header-content">
    <div class="profile-header-counters">
      {{#link-to "users.user.profile.index" class="profile-header-counter"}}
        <div class="profile-header-counter-count">{{user.userProfile.totalPosts}}</div>
        <div class="profile-header-counter-title">{{t "profile.posts"}}</div>
      {{/link-to}}
      {{#link-to "users.user.profile.followers" class="profile-header-counter"}}
        <div class="profile-header-counter-count">{{fa-icon "hand-lizard-o" flip="horizontal"}}</div>
        <div class="profile-header-counter-title">{{t "profile.followers"}}</div>
      {{/link-to}}
      {{#link-to "users.user.profile.following" class="profile-header-counter"}}
        <div class="profile-header-counter-count">{{fa-icon "hand-lizard-o"}}</div>
        <div class="profile-header-counter-title">{{t "profile.following"}}</div>
      {{/link-to}}
    </div>
    {{#liquid-if isEditing class="cross-fade"}}
      {{#paper-button onClick="cancelEditing" disable=cancelDisabled raised=true class="profile-header-button"}}{{t "profile.cancel"}}{{/paper-button}}
      {{#paper-button onClick="updateEditing" disabled=updateDisabled raised=true primary=true class="profile-header-button"}}{{t "profile.save"}}{{/paper-button}}
    {{else if isCurrentUser}}
      {{#paper-button onClick="startEditing" raised=true class="profile-header-button"}}{{t "profile.edit"}}{{/paper-button}}
      {{#paper-button onClick="editIdentities" raised=true class="profile-header-button"}}{{t "profile.editIdentities"}}{{/paper-button}}
    {{else if currentFollow}}
      {{#if currentFollow.canViewPrivate}}
        {{#paper-button raised=true disabled=true class="profile-header-button"}}{{{t "profile.havePrivate"}}}{{/paper-button}}
      {{else}}
        {{#paper-button onClick="requestPrivate" primary=(not currentFollow.requestedPrivate) raised=true disabled=(or currentFollow.requestedPrivate followDisabled) class="profile-header-button"}}{{{t "profile.requestPrivate"}}}{{/paper-button}}
      {{/if}}
      {{#paper-button onClick="unfollow" raised=true disabled=followDisabled class="profile-header-button"}}{{t "profile.unfollow"}}{{/paper-button}}
    {{else}}
      {{#paper-button onClick="follow" raised=true primary=true disabled=followDisabled class="profile-header-button"}}{{t "profile.follow"}}{{/paper-button}}
    {{/liquid-if}}

    {{#liquid-if (and user.userProfile.website (not isEditing))}}
      <div class="profile-website">
        <a href={{websiteHref}} target="_blank">{{user.userProfile.website}}</a>
      </div>
    {{/liquid-if}}
  </div>
</div>

<div class="profile-additional-content {{if isEditing 'profile-additional-content-full-height'}}">
  {{#if isEditing}}
    <div class="profile-field">
      {{paper-input
        value=changeset.displayName
        label=(t "profile.attributes.displayName.label")
        onChange=(action (mut changeset.displayName))
        errors=changeset.error.displayName.validation
      }}
    </div>
    <div class="profile-field">
      {{paper-input
        value=changeset.website
        label=(t "profile.attributes.website.label")
        onChange=(action (mut changeset.website))
        errors=changeset.error.website.validation
      }}
    </div>
    <div class="profile-field">
      {{paper-input
        value=changeset.pronouns
        label=(t "profile.attributes.pronouns.label")
        onChange=(action (mut changeset.pronouns))
        errors=changeset.error.pronouns.validation
      }}
    </div>
  {{else if (or user.userProfile.pronouns user.userIdentities)}}
    <div class="profile-pronouns-and-identities">
      <span class="profile-pronouns">{{{inject-emoji user.userProfile.pronouns}}}</span>

      {{#if currentIdentities}}
        {{#each currentIdentities as |userIdentity|}}
          <a class="profile-user-identity" {{action "searchIdentity" userIdentity.identity.name}}>*<span class="profile-user-identity-content">{{userIdentity.identity.name}}</span></a>
        {{/each}}
      {{/if}}
      {{#if (not-eq currentIdentities.length user.userIdentities.length)}}
        {{#link-to "users.user.identities.index" class="profile-user-identity profile-user-identity-history"}}{{fa-icon "map-o"}}{{/link-to}}
      {{/if}}
    </div>
  {{/if}}

  {{#if isEditing}}
    {{#emoji-picker-wrapper
      text                = changeset.description
      inputSelector       = ".profile-form-textarea"
      emojiInsertedAction = (action (mut changeset.description))
      classNames="profile-form-text-emoji-wrapper"
      as |h|
    }}

      <div class="profile-form-textarea-container">
        <div class="profile-description profile-field">

          {{#taggable-textarea/main classNames="profile-form-taggable-textarea"}}

            {{paper-input
              value=changeset.description
              textarea=true
              block=true
              label=(t "profile.attributes.description.label")
              onChange=(action (mut changeset.description))
              errors=changeset.error.description.validation
              class="profile-form-textarea"
            }}
          {{/taggable-textarea/main}}
        </div>
        {{component h.emojiAssist}}

        {{component h.emojiPickerToggler class="profile-form-text-emoji-toggler"}}

        {{component h.emojiPicker class="profile-form-text-emoji-picker"}}
      </div>

    {{/emoji-picker-wrapper}}
  {{else if user.userProfile.description}}
    <div class="profile-description">
      {{rich-text text=user.userProfile.description}}
    </div>
  {{/if}}
</div>

<div class="profile-body">
  {{outlet}}
</div>
