<div class="profile-header">
  <img class="profile-header-avatar" src={{user.userProfile.avatar}}>

  <div class="profile-header-content">
    <div class="profile-header-counters">
      {{#link-to "users.user.profile.index" class="profile-header-counter"}}
        <div class="profile-header-counter-count">{{user.userProfile.totalPosts}}</div>
        <div class="profile-header-counter-title">{{t "profile.posts"}}</div>
      {{/link-to}}
      {{#link-to "users.user.profile.followers" class="profile-header-counter"}}
        <div class="profile-header-counter-count">{{fa-icon "hand-lizard-o" flip="horizontal"}}</div>
        <div class="profile-header-counter-title">{{t "profile.followers"}}</div>
      {{/link-to}}
      {{#link-to "users.user.profile.following" class="profile-header-counter"}}
        <div class="profile-header-counter-count">{{fa-icon "hand-lizard-o"}}</div>
        <div class="profile-header-counter-title">{{t "profile.following"}}</div>
      {{/link-to}}
    </div>
    {{#liquid-if currentFollow class="cross-fade"}}
      {{#paper-button onClick="unfollow" raised=true disabled=followDisabled class="profile-header-button"}}{{t "profile.unfollow"}}{{/paper-button}}
    {{else}}
      {{#paper-button onClick="follow" raised=true primary=true disabled=followDisabled class="profile-header-button"}}{{t "profile.follow"}}{{/paper-button}}
    {{/liquid-if}}
  </div>
</div>

<div class="profile-description">
  {{{inject-emoji (markdown-render user.userProfile.description)}}}
</div>

<div class="profile-body">
  {{outlet}}
</div>
