<div class="profile-header">
  <div class="profile-header-primary">
    <div class="profile-header-avatar-container {{if isEditing 'profile-avatar-sizing'}}">
      {{#if (and isEditing changeset.avatar)}}
        <img alt={{t "profile.avatar"}} class="profile-header-avatar profile-avatar-sizing" src={{changeset.avatar}}>
      {{else}}
        {{#link-to "users.user.profile.index"}}
          <img alt={{t "profile.avatar"}} class="profile-header-avatar profile-avatar-sizing" srcset={{user.avatarProfile}} sizes="160px">
        {{/link-to}}
      {{/if}}
      {{#if isEditing}}
        <a {{action "changeAvatar"}} class="profile-header-avatar-new-overlay profile-avatar-sizing">
          {{fa-icon "camera" size=2}}
          <div class="profile-header-avatar-new-overlay-text">{{t "profile.changeAvatar"}}</div>
        </a>
      {{/if}}
    </div>
  </div>

  <div class="profile-header-content">
    <div class="profile-header-counters">
      {{#link-to "users.user.profile.index" class="profile-header-counter"}}
        <div class="profile-header-counter-count">{{user.userProfile.postCount}}</div>
        <div class="profile-header-counter-title">{{t "profile.posts"}}</div>
      {{/link-to}}
      {{#link-to "users.user.profile.followers" class="profile-header-counter"}}
        <div class="profile-header-counter-count">{{fa-icon "hand-lizard-o" flip="horizontal"}}</div>
        <div class="profile-header-counter-title">{{t "profile.followers"}}</div>
      {{/link-to}}
      {{#link-to "users.user.profile.following" class="profile-header-counter"}}
        <div class="profile-header-counter-count">{{fa-icon "hand-lizard-o"}}</div>
        <div class="profile-header-counter-title">{{t "profile.following"}}</div>
      {{/link-to}}
    </div>
    {{#liquid-if isEditing class="cross-fade"}}
      {{#paper-button onClick="cancelEditing" disable=cancelDisabled raised=true class="profile-header-button"}}{{t "profile.cancel"}}{{/paper-button}}
      {{#paper-button onClick="updateEditing" disabled=updateDisabled raised=true primary=true class="profile-header-button"}}{{t "profile.save"}}{{/paper-button}}
    {{else if isCurrentUser}}
      {{#paper-button onClick="startEditing" raised=true class="profile-header-button"}}{{t "profile.edit"}}{{/paper-button}}
      {{#paper-button onClick="editIdentities" raised=true class="profile-header-button"}}{{t "profile.editIdentities"}}{{/paper-button}}
    {{else if currentFollow}}
      {{#if currentFollow.canViewPrivate}}
        {{#paper-button raised=true disabled=true class="profile-header-button"}}{{{t "profile.havePrivate"}}}{{/paper-button}}
      {{else}}
        {{#paper-button onClick="requestPrivate" primary=(not currentFollow.hasRequestedPrivate) raised=true disabled=(or currentFollow.hasRequestedPrivate followDisabled) class="profile-header-button"}}{{{t "profile.requestPrivate"}}}{{/paper-button}}
      {{/if}}
      {{#paper-button onClick="unfollow" raised=true disabled=followDisabled class="profile-header-button"}}{{t "profile.unfollow"}}{{/paper-button}}
    {{else if currentBlock}}
      {{#paper-button onClick="unblock" raised=true disabled=followDisabled class="profile-header-button"}}{{t "profile.unblock"}}{{/paper-button}}
    {{else}}
      {{#paper-button onClick="follow" raised=true primary=true disabled=followDisabled class="profile-header-button"}}{{t "profile.follow"}}{{/paper-button}}
      {{#paper-button onClick="block" raised=true disabled=followDisabled class="profile-header-button"}}{{t "profile.block"}}{{/paper-button}}
    {{/liquid-if}}
  </div>
</div>


{{#if (not isEditing)}}
  {{#if user.userIdentities}}
    <div class="profile-identities">
      {{#if currentIdentities}}
        {{#each currentIdentities as |userIdentity|}}
          <a class="profile-user-identity" {{action "searchIdentity" userIdentity.identity.name}}>*<span class="profile-user-identity-content">{{userIdentity.identity.name}}</span></a>
        {{/each}}
      {{/if}}
      {{#if (not-eq currentIdentities.length user.userIdentities.length)}}
        {{#link-to "users.user.identities.index" class="profile-user-identity profile-user-identity-history"}}{{fa-icon "map-o"}}{{/link-to}}
      {{/if}}
    </div>
  {{/if}}

  {{#if user.displayName}}
    <div class="profile-display-name">
      {{user.displayName}}
    </div>
  {{/if}}

  <div class="profile-user-info">
    <div class="profile-user-name">
      @{{user.username}}
    </div>

    {{#if user.pronouns}}
      <span class="profile-pronouns">
        ({{{inject-emoji user.pronouns}}})
      </span>
    {{/if}}

    {{#if user.userProfile.website}}
      <span class="profile-website">
        {{fa-icon "link"}}
        <a href={{websiteHref}} target="_blank">
          {{websiteDomain}}
        </a>
      </span>
    {{/if}}
  </div>

  {{#if user.userProfile.description}}
    <div class="profile-description">
      {{rich-text text=user.userProfile.description author=user}}
    </div>
  {{/if}}
{{/if}}

{{#if isEditing}}
  <div class="profile-additional-content profile-additional-content-full-height">
    <div class="profile-field">
      {{paper-input
        value=changeset.username
        label=(t "profile.attributes.username.label")
        onChange=(action (mut changeset.username))
        errors=changeset.error.username.validation
      }}
    </div>
    <div class="profile-field">
      {{paper-input
        value=changeset.displayName
        label=(t "profile.attributes.displayName.label")
        onChange=(action (mut changeset.displayName))
        errors=changeset.error.displayName.validation
      }}
    </div>
    <div class="profile-field">
      {{paper-input
        value=changeset.website
        label=(t "profile.attributes.website.label")
        onChange=(action (mut changeset.website))
        errors=changeset.error.website.validation
      }}
    </div>
    <div class="profile-field">
      {{paper-input
        value=changeset.pronouns
        label=(t "profile.attributes.pronouns.label")
        onChange=(action (mut changeset.pronouns))
        errors=changeset.error.pronouns.validation
      }}
    </div>

    <div class="profile-field">
      {{paper-input
        value=changeset.description
        textarea=true
        block=true
        label=(t "profile.attributes.description.label")
        onChange=(action (mut changeset.description))
        errors=changeset.error.description.validation
      }}
    </div>
  </div>
{{/if}}


{{#if (not isEditing)}}
  <div class="profile-body">
    {{outlet}}
  </div>
{{/if}}
