{{#link-to "moderation.reports.report" report class="violation-report-item-link"}}
  <div class="violation-report-item-text">
    <div class="violation-report-item-username"><span class="at-username">@{{report.indicted.username}}</span></div>
    <div class="violation-report-item-description">
      {{#each-in violations as |type amount|}}
        <span>{{type}}: {{amount}};</span>
      {{/each-in}}

      {{#each additionalComments as |text|}}
        <div>{{rich-text text=text}}</div>
      {{/each}}
    </div>
  </div>
  <div class="violation-report-item-status">
    {{#if report.resolved}}
      {{#if report.wasViolation}}
        {{t "moderation.violation"}}
        {{#if report.actionDeletedFlaggable}}
          <div>{{t "moderation.deletedContent"}}</div>
        {{/if}}
        {{#if report.actionBannedUser}}
          <div>{{t "moderation.bannedUser"}}</div>
        {{/if}}
      {{else}}
        {{t "moderation.notViolation"}}
      {{/if}}
    {{else}}
      {{t "moderation.pending"}}
    {{/if}}
  </div>
{{/link-to}}
