{{#if report.resolved}}
  {{#if report.wasViolation}}
    {{t "moderation.violation"}}
    {{#if report.actionIgnoreFlags}}
      <div>{{t "moderation.ignoredFlags"}}</div>
    {{/if}}
    {{#if report.actionDeletedFlaggable}}
      <div>{{t "moderation.deletedContent"}}</div>
    {{/if}}
    {{#if report.actionLockComments}}
      <div>{{t "moderation.lockedComments" duration=report.lockCommentsDuration}}</div>
    {{/if}}
    {{#if report.actionBannedUser}}
      <div>{{t "moderation.bannedUser" duration=report.banUserDuration}}</div>
    {{/if}}
  {{else}}
    {{t "moderation.notViolation"}}
  {{/if}}
{{else}}
  {{t "moderation.pending"}}
{{/if}}
