{{#if report.isResolved}}
  {{#if report.wasViolation}}
    {{t "moderation.violation"}}
  {{else}}
    {{t "moderation.notViolation"}}
  {{/if}}
  {{#if report.verdicts.lastObject.actionIgnoreFlags}}
    <div>{{t "moderation.ignoredFlags"}}</div>
  {{/if}}
  {{#if report.verdicts.lastObject.actionMarkFlaggableForDeletion}}
    <div>{{t "moderation.deletedContent"}}</div>
  {{/if}}
  {{#if report.verdicts.lastObject.actionLockComments}}
    <div>{{t "moderation.lockedComments" until=(if report.verdicts.lastObject.lockCommentsUntil (format-date report.verdicts.lastObject.lockCommentsUntil) "∞")}}</div>
  {{/if}}
  {{#if report.verdicts.lastObject.actionBannedUser}}
    <div>{{t "moderation.bannedUser" until=(if report.verdicts.lastObject.banUserUntil (format-date report.verdicts.lastObject.banUserUntil) "∞")}}</div>
  {{/if}}
{{else}}
  {{t "moderation.pending"}}
{{/if}}
