{{paper-input
  value=userIdentity.name
  label=(t "identities.attributes.name.label")
  onChange=(action (mut userIdentity.name))
  errors=userIdentity.error.name.validation
  required="style"
}}

{{#liquid-if expanded}}
  <div class="identities-form-identity-additional">
    <a {{action "expand"}} class="identities-form-identity-more-options">{{t "identities.lessOptions"}}</a>
  </div>

  {{paper-date-time-picker
    errors=userIdentity.error.startDate.validation
    label=(t "identities.attributes.startDate.label")
    placeholder=(t "identities.birth")
    value=userIdentity.startDate
    onClear=(action (mut userIdentity.startDate undefined))
    onSelection=(action (mut userIdentity.startDate))
  }}

  {{paper-date-time-picker
    errors=userIdentity.error.endDate.validation
    label=(t "identities.attributes.endDate.label")
    placeholder=(t "identities.present")
    value=userIdentity.endDate
    onClear=(action (mut userIdentity.endDate undefined))
    onSelection=(action (mut userIdentity.endDate))
  }}

  {{#paper-button onClick=(action "removeUserIdentity") warn=true raised=true class="identities-form-identity-button"}}{{t "identities.delete"}}{{/paper-button}}
{{else}}
  <div class="identities-form-identity-additional">
    <span class="identities-form-identity-additional-dates">{{startDate}} - {{endDate}}</span>
    <a {{action "expand"}} class="identities-form-identity-more-options">{{t "identities.moreOptions"}}</a>
  </div>
{{/liquid-if}}
