{{paper-input
  value=userIdentity.name
  label=(t "identities.attributes.name.label")
  onChange=(action (mut userIdentity.name))
  errors=userIdentity.error.name.validation
  required="style"
}}

{{#liquid-if expanded}}
  <div class="identities-form-identity-additional">
    <a {{action "expand"}} class="identities-form-identity-more-options">{{t "identities.lessOptions"}}</a>
  </div>
  <div class="identities-form-identity-date">
    <label for={{endDateId}}>{{t "identities.attributes.endDate.label"}}: </label>

    {{pikaday-input
      id=endDateId
      format="MM/DD/YYYY"
      placeholder=(t "identities.present")
      value=userIdentity.endDate
      classNames="pikaday-input"
      onSelection=(action (mut userIdentity.endDate))
    }}

    <a {{action (mut userIdentity.endDate undefined)}}>{{fa-icon "times"}}</a>
  </div>

  <div class="identities-form-identity-date">
    <label for={{startDateId}}>{{t "identities.attributes.startDate.label"}}: </label>

    {{pikaday-input
      id=startDateId
      format="MM/DD/YYYY"
      placeholder=(t "identities.birth")
      value=userIdentity.startDate
      classNames="pikaday-input"
      onSelection=(action (mut userIdentity.startDate))
    }}

    <a {{action (mut userIdentity.startDate undefined)}}>{{fa-icon "times"}}</a>
  </div>

  {{#paper-button onClick=(action "removeUserIdentity") warn=true raised=true class="identities-form-identity-button"}}{{t "identities.delete"}}{{/paper-button}}
{{else}}
  <div class="identities-form-identity-additional">
    <span class="identities-form-identity-additional-dates">{{startDate}} - {{endDate}}</span>
    <a {{action "expand"}} class="identities-form-identity-more-options">{{t "identities.moreOptions"}}</a>
  </div>
{{/liquid-if}}
