<div class="timeline-item-nav-controls-main">
  {{#paper-button onClick=(action "toggleReaction") class="timeline-item-nav-controls-element reaction-icon"}}
    {{fa-icon "moon-o" size=2 class=(if timelineItem.currentUserReaction 'reacted')}}
  {{/paper-button}}

  {{#paper-button onClick=(action "openShare") class="timeline-item-nav-controls-element"}}
    {{fa-icon "share-alt" size=2}}
  {{/paper-button}}

  {{#paper-button onClick=(action "toggleChat") class="timeline-item-nav-controls-element timeline-item-nav-chat-icon"}}
    {{number-bubble number=commentCount classNames="chat-total"}}
    {{fa-icon "comment-o" size=2}}
  {{/paper-button}}

  <div class="timeline-item-nav-controls-dots">
    {{#if (gt sortedPanels.length 1)}}
      {{#each sortedPanels as |panel index|}}
        <span class="timeline-item-nav-controls-dot {{if (eq panelIndex index) 'selected'}}">
          {{fa-icon "circle"}}
        </span>
      {{/each}}
    {{/if}}
  </div>

  {{#paper-menu as |menu|}}
    {{#menu.trigger}}
      {{#paper-button iconButton=true}}
        {{fa-icon "ellipsis-h" size=2 ariaLabel=(t "general.options") ariaHidden=false}}
      {{/paper-button}}
    {{/menu.trigger}}
    {{#menu.content width=4 as |menuContent|}}
      {{timeline-item-menu
        historyIsRevealed=historyIsRevealed
        isModerating=isModerating
        menuContent=menuContent
        timelineItem=timelineItem
        toggleHistory=toggleHistory
        removePost=removePost
        deletePost=(route-action "deleteTimelineable" timelineItem.timelineable.content)
      }}
    {{/menu.content}}
  {{/paper-menu}}
</div>
