{{#paper-form onSubmit=(action "submit") as |form|}}
  {{#paper-list}}
    {{#paper-subheader class="md-no-sticky"}}{{t "account.changePassword"}}{{/paper-subheader}}

    {{#paper-item}}
      {{form.input
        value=changeset.previousPassword
        type="password"
        label=(t "account.attributes.previousPassword.label")
        onChange=(action (mut changeset.previousPassword))
        errors=changeset.error.previousPassword.validation
        required="style"
      }}
    {{/paper-item}}

    {{#paper-item}}
      {{form.input
        value=changeset.newPassword
        type="password"
        label=(t "account.attributes.newPassword.label")
        onChange=(action (mut changeset.newPassword))
        errors=changeset.error.newPassword.validation
        required="style"
      }}
    {{/paper-item}}

    {{#paper-item}}
      {{form.input
        value=changeset.newPasswordConfirmation
        type="password"
        label=(t "account.attributes.newPasswordConfirmation.label")
        onChange=(action (mut changeset.newPasswordConfirmation))
        errors=changeset.error.newPasswordConfirmation.validation
        required="style"
      }}
    {{/paper-item}}
  {{/paper-list}}

  <div class="form-controls">
    {{paper-button
      disabled=disabled
      raised=true
      primary=true
      label=(t "account.submit")
      onClick=(action "submit")
    }}
  </div>
{{/paper-form}}
