{{#emoji-picker-wrapper
  text                = changeset.text
  inputSelector       = ".comment-form-textarea"
  emojiInsertedAction = (action (mut changeset.text))
  classNames="comment-form-text-emoji-wrapper"
  as |h|
}}

  <div class="comment-form-textarea-container">
    {{#taggable-textarea classNames="comment-form-taggable-textarea"}}
      {{textarea value=changeset.text placeholder=(t "comments.attributes.text.placeholder") class="comment-form-textarea"}}
    {{/taggable-textarea}}
    {{component h.emojiAssist}}

    {{component h.emojiPickerToggler class="comment-form-text-emoji-toggler"}}

    {{component h.emojiPicker class="comment-form-text-emoji-picker"}}
  </div>

{{/emoji-picker-wrapper}}

{{#paper-button onClick="submit" disabled=disabled raised=true primary=true class="comment-form-submit"}}{{t "comments.submit"}}{{/paper-button}}
{{#if cancelable}}{{#paper-button onClick="cancel" raised=true class="comment-form-submit"}}{{t "comments.cancel"}}{{/paper-button}}{{/if}}
