{{#link-to "users.user.profile.index" comment.user.id class="comment-profile"}}
  <img class="comment-avatar" src={{comment.user.userProfile.avatar}}>
  <div class="comment-pronouns">{{comment.user.userProfile.pronouns}}</div>
{{/link-to}}

<div class="comment-main">
  <div class="comment-text">
    {{#link-to "users.user.profile.index" comment.user.id class="comment-user-link"}}{{comment.user.username}}{{/link-to}}
    {{{inject-emoji (markdown-render comment.text)}}}
  </div>
  <div class="comment-controls">
    {{moment-format comment.date "MM/DD/YYYY"}} | fav | reply | edit
  </div>

  {{#if comment.children}}
    <div class="comment-children">
      {{#each comment.children as |child|}}
        {{post-nav/chat/comment comment=child}}
      {{/each}}
    </div>
  {{/if}}
</div>
