{{#emoji-picker-wrapper
  text                = changeset.text
  inputSelector       = ".comment-form-textarea"
  emojiInsertedAction = (action (mut changeset.text))
  classNames="comment-form-text-emoji-wrapper"
  as |h|
}}

  <div class="comment-form-textarea-container">
    {{textarea value=changeset.text placeholder=(t "comments.attributes.text.placeholder") class="comment-form-textarea"}}
    {{component h.emojiAssist}}

    {{component h.emojiPickerToggler class="comment-form-text-emoji-toggler"}}

    {{component h.emojiPicker class="comment-form-text-emoji-picker"}}
  </div>

{{/emoji-picker-wrapper}}

<button {{action "submit"}} disabled={{disabled}}>{{t "comments.submit"}}</button>
