<div class="comments-container">
  {{#if isLoaded}}
    {{#each orderedFilteredComments as |comment|}}
      {{post-nav/chat/comment comment=comment post=post isCollapsedChild=false routeComment=routeComment isModerating=isModerating removeComment=(action "removeComment")}}
    {{else}}
      <div class="post-nav-chat-spinner post-nav-first-to-comment">
        {{t "comments.noCommentsYet"}}
        <div class="post-nav-first-to-comment-icons">{{fa-icon "moon-o" size=2}} {{fa-icon "star-o" size=2}} {{fa-icon "sun-o" size=2}}</div>
      </div>
    {{/each}}
  {{else}}
    <div class="post-nav-chat-spinner">
      {{fa-icon "spinner" pulse=true size=5}}
    </div>
  {{/if}}
</div>

{{#if (not isModerating)}}
  {{post-nav/chat/comment-form
    post=post
    commentable=post
    addComment=(action "addComment")
    classNames="comment-form-post-reply"
  }}
{{/if}}
