<div class="top-bar-content top-bar-layout-constraint">
  {{#if showSearchBar}}
    <a class="top-bar-element" {{action "search"}}>{{fa-icon "search" size=2}}</a>
    <span class="top-bar-element top-bar-element-grow">
      {{input classNames="top-bar-search" value=searchValue}}
    </span>
  {{else}}
    <a class="top-bar-element" {{action "home"}}>{{fa-icon "home" size=2}}</a>
    {{#if showLink}}
      {{#link-to linkRoute linkModelId class="top-bar-title top-bar-element top-bar-element-grow"}}{{title}}{{/link-to}}
    {{else}}
      <span class="top-bar-title top-bar-element top-bar-element-grow">{{title}}</span>
    {{/if}}
  {{/if}}
  <span class="top-bar-element">{{fa-icon "bell-o" size=2}}</span>
  <a class="top-bar-element" {{action "toggleMenu"}}>{{fa-icon "bars" size=2}}</a>
</div>

{{#if menuIsOpen}}
  {{#liquid-tether
    target=".top-bar-content"
    attachment="top right"
    targetAttachment="bottom right"
    to="top-bar-menu-destination"
    class="top-bar-menu-modal"
  }}
    {{top-bar/menu
      toggleMenu=(action "toggleMenu")
    }}
  {{/liquid-tether}}
{{/if}}
