<div class="top-bar-content top-bar-layout-constraint">
  <a class="top-bar-element" {{action "iconAction"}}>{{fa-icon icon size=2}}</a>
  {{#if canSearch}}
    {{top-bar/search/main value=iconArgs.searchValue performSearch=(action "iconAction") classNames="top-bar-element top-bar-element-grow"}}
  {{else if showLink}}
    {{#if linkModelId}}
      {{#link-to linkRoute linkModelId class="top-bar-title top-bar-element top-bar-element-grow"}}
        {{{inject-emoji title}}}
      {{/link-to}}
    {{else}}
      {{#link-to linkRoute class="top-bar-title top-bar-element top-bar-element-grow"}}
        {{{inject-emoji title}}}
      {{/link-to}}
    {{/if}}
  {{else}}
    <span class="top-bar-title top-bar-element top-bar-element-grow">
      {{{inject-emoji title}}}
    </span>
  {{/if}}
  {{#if currentUser.user}}
    <a class="top-bar-element top-bar-notification-button">
      {{#if unreadNotificationsTotal}}{{number-bubble number=unreadNotificationsTotal classNames="notification-total"}}{{/if}}
      {{fa-icon "bell-o" size=2 class=(if unreadNotificationsTotal "top-bar-notification-button-highlighted")}}
    </a>
  {{/if}}
  <a class="top-bar-element" {{action "toggleMenu"}}>{{fa-icon "bars" size=2}}</a>
</div>

{{#if menuIsOpen}}
  {{#liquid-tether
    target=".top-bar-content"
    attachment="top right"
    targetAttachment="bottom right"
    to="top-bar-menu-destination"
    class="top-bar-menu-modal"
  }}
    {{top-bar/menu
      toggleMenu=(action "toggleMenu")
    }}
  {{/liquid-tether}}
{{/if}}
