<div class="top-bar-content top-bar-layout-constraint">
  <a class="top-bar-element" {{action "iconAction"}}>{{fa-icon icon size=2}}</a>
  {{#if canSearch}}
    {{top-bar/search/main value=iconArgs.searchValue performSearch=(action "iconAction") classNames="top-bar-element top-bar-element-grow"}}
  {{else if showLink}}
    {{#if linkModelId}}
      {{#link-to linkRoute linkModelId class="top-bar-title top-bar-element top-bar-element-grow"}}
        {{{inject-emoji title}}}
      {{/link-to}}
    {{else}}
      {{#link-to linkRoute class="top-bar-title top-bar-element top-bar-element-grow"}}
        {{{inject-emoji title}}}
      {{/link-to}}
    {{/if}}
  {{else}}
    <span class="top-bar-title top-bar-element top-bar-element-grow">
      {{{inject-emoji title}}}
    </span>
  {{/if}}
  {{#if currentUser.user}}
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button classNames="top-bar-button" iconButton=true}}
          {{#if unseenNotificationCount}}{{number-bubble number=unseenNotificationCount classNames="notification-total"}}{{/if}}
          {{fa-icon "bell-o" size=2 ariaLabel=(t "notifications.notifications") ariaHidden=false class=(if unseenNotificationCount "top-bar-notification-button-highlighted")}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content width=4 as |menuContent|}}
        {{top-bar/notifications
          menuContent=menuContent
        }}
      {{/menu.content}}
    {{/paper-menu}}

    {{#paper-button classNames="top-bar-button" iconButton=true onClick="newPost"}}
      {{fa-icon "plus-square-o"  size=2 ariaLabel=(t "post.new") ariaHidden=false}}
    {{/paper-button}}
  {{/if}}

  {{#paper-menu as |menu|}}
    {{#menu.trigger}}
      {{#paper-button classNames="top-bar-button" iconButton=true}}
        {{fa-icon "bars" ariaLabel=(t "nav.mainMenu") ariaHidden=false size=2}}
      {{/paper-button}}
    {{/menu.trigger}}
    {{#menu.content width=4 as |menuContent|}}
      {{top-bar/menu
        menuContent=menuContent
      }}
    {{/menu.content}}
  {{/paper-menu}}
</div>
