{{#if session.isAuthenticated}}
  {{#menuContent.menu-item onClick="toProfile"}}
    {{fa-icon "user-circle"}}
    <span>{{t "profile.profile"}}</span>
  {{/menuContent.menu-item}}
  {{#menuContent.menu-item onClick="toAccount"}}
    {{fa-icon "gear"}}
    <span>{{t "account.account"}}</span>
  {{/menuContent.menu-item}}
  {{#menuContent.menu-item onClick="toMailSettings"}}
    {{fa-icon "envelope"}}
    <span>{{t "mail.settings"}}</span>
  {{/menuContent.menu-item}}
  {{#menuContent.menu-item onClick="toModeration"}}
    {{fa-icon "gavel"}}
    <span>{{t "moderation.moderation"}}</span>
  {{/menuContent.menu-item}}
  {{#menuContent.menu-item onClick="feedback"}}
    <span>{{t "feedback.leaveFeedback"}}</span>
  {{/menuContent.menu-item}}
  {{#menuContent.menu-item onClick="logout"}}
    <span>{{t "auth.logout"}}</span>
  {{/menuContent.menu-item}}
{{else}}
  {{#menuContent.menu-item onClick="login"}}
    <span>{{t "auth.login"}}</span>
  {{/menuContent.menu-item}}
  {{#menuContent.menu-item onClick="join"}}
    <span>{{t "auth.join"}}</span>
  {{/menuContent.menu-item}}
  {{#menuContent.menu-item onClick="feedback"}}
    <span>{{t "feedback.leaveFeedback"}}</span>
  {{/menuContent.menu-item}}
{{/if}}
