{{#if session.isAuthenticated}}
  <li><a {{action "newPost"}}>{{fa-icon "plus-circle"}} {{t "post.new"}}</a></li>
  <li><a {{action "logout"}}>{{t "auth.logout"}}</a></li>
{{else}}
  <li><a {{action "login"}}>{{t "auth.login"}}</a></li>
{{/if}}
