{{#if session.isAuthenticated}}
  <li>{{#link-to "posts.new"}}{{fa-icon "plus-circle"}} {{t "post.new"}}{{/link-to}}</li>
  <li><a {{action "logout"}}>{{t "auth.logout"}}</a></li>
{{else}}
  <li><a {{action "login"}}>{{t "auth.login"}}</a></li>
{{/if}}
