{{#if session.isAuthenticated}}
  <li class="top-bar-menu-item"><a {{action "newPost"}}>{{fa-icon "plus-circle"}} {{t "post.new"}}</a></li>
  <li class="top-bar-menu-item"><a {{action "toProfile"}}>{{t "profile.profile"}}</a></li>
  <li class="top-bar-menu-item"><a {{action "toAccount"}}>{{t "account.account"}}</a></li>
  <li class="top-bar-menu-item"><a {{action "toModeration"}}>{{t "moderation.moderation"}}</a></li>
  <li class="top-bar-menu-item"><a {{action "logout"}}>{{t "auth.logout"}}</a></li>
{{else}}
  <li class="top-bar-menu-item"><a {{action "login"}}>{{t "auth.login"}}</a></li>
{{/if}}
