<div class="timeline-item-nav-slideshow-panels">
  {{#if nsfw}}
    <div class="timeline-item-nav-slideshow-nsfw">
      <h2>{{t "nsfw.header"}}</h2>
      <div class="timeline-item-nav-slideshow-nsfw-info">{{{t "nsfw.session"}}}</div>
      <div class="timeline-item-nav-slideshow-nsfw-info">{{{t "nsfw.storage"}}}</div>

      <div class="timeline-item-nav-slideshow-nsfw-buttons">
        {{#paper-button
          raised=true
          onClick=(action "viewNsfwForSession")
        }}
          {{t "nsfw.enable"}} {{fa-icon "clock-o"}}
        {{/paper-button}}
        {{#paper-button
          raised=true
          onClick=(action "viewNsfwForAlways")
        }}
          {{t "nsfw.enable"}} ∞
        {{/paper-button}}
      </div>
    </div>
  {{else}}
    {{#each sortedPanels as |panel|}}
      {{component panel.postNavComponent
        panel=panel
        navState=navState
      }}
    {{/each}}
  {{/if}}

  <div class="timeline-item-nav-resize-toggle">
    <a {{action resizeType}}>
      {{#liquid-bind resizeType as |iconType|}}
        {{fa-icon iconType size=1}}
      {{/liquid-bind}}
    </a>
  </div>
</div>

{{#if shouldRenderPost}}
  {{timeline-item-nav/slideshow/post/text
    post=post
    textExpanded=textExpanded
    isBlank=isBlank
    isCurrentPost=isCurrentPost
    scrollLocked=(not-eq navState.progress 0)
    classNames="main-layout-constraint"
    removePost=removePost
    isModerating=isModerating
    deletePost=(route-action "deleteTimelineable" timelineItem.model.timelineable.content)
  }}

  {{#if (not isModerating)}}
    {{timeline-item-nav/slideshow/post/controls/main
      post=post
      isCurrentPost=isCurrentPost
      fullShare=fullShare
      commentCount=timelineItem.model.post.commentCount
      classNames="main-layout-constraint"
      toggleChat=(action "toggleChat")
    }}
  {{/if}}
{{/if}}
