{{#nsfw-interface matureContent=timelineItem.model}}
  <div class="timeline-item-nav-slideshow-panels" style="height: {{{modifiedPanelHeight}}}px; width: {{{panelWidth}}}px">
    {{#each sortedPanels as |panel|}}
      {{component panel.postNavComponent
        panel=panel
        navState=navState
      }}
    {{/each}}

    <div class="timeline-item-nav-resize-toggle">
      <a {{action "expandPanels"}} class="{{if expandButtonDisabled 'disabled'}}" disabled={{expandButtonDisabled}}>
        {{fa-icon "expand" size=1}}
      </a>
    </div>
  </div>

  {{#if shouldRenderPost}}
    {{#if (not isModerating)}}
      {{timeline-item-nav/slideshow/post/controls/main
        timelineItem=timelineItem.model
        isCurrentTimelineItem=isCurrentTimelineItem
        fullShare=fullShare
        commentCount=timelineItem.model.commentCount
        classNames="main-layout-constraint"
        toggleChat=(action "toggleChat")
      }}
    {{/if}}

    {{timeline-item-nav/slideshow/post/text
      chatIsOpen=chatIsOpen
      timelineItem=timelineItem.model
      post=post
      isBlank=isBlank
      isCurrentTimelineItem=isCurrentTimelineItem
      scrollLocked=(not-eq navState.progress 0)
      classNames="main-layout-constraint"
      removePost=removePost
      isModerating=isModerating
      deletePost=(route-action "deleteTimelineable" timelineItem.model.timelineable.content)
      expendTextOnSwipe=(action "expendTextOnSwipe")
    }}
  {{/if}}
{{/nsfw-interface}}
