<div data-timeline-item-id="{{timelineItemId}}" class="timeline-item-nav-slideshow-panels-carousel">
  {{#each panels as |panel|}}
    {{component panel.postNavComponent
      panel=panel
      sizes=sizes
      style=style
      openModalNav=openModalNav
    }}
  {{/each}}
</div>

{{#timeline-item-nav/slideshow/post/panels/hover-nav
  classNames="hover-nav-up"
  direction=-1
  scroll=(action "scrollVertical")
}}
  {{fa-icon "chevron-up" size=4}}
{{/timeline-item-nav/slideshow/post/panels/hover-nav}}

{{#timeline-item-nav/slideshow/post/panels/hover-nav
  classNames="hover-nav-right"
  direction=1
  scroll=(action "scrollHorizontal")
}}
  {{fa-icon "chevron-right" size=4}}
{{/timeline-item-nav/slideshow/post/panels/hover-nav}}

{{#timeline-item-nav/slideshow/post/panels/hover-nav
  classNames="hover-nav-down"
  direction=1
  scroll=(action "scrollVertical")
}}
  {{fa-icon "chevron-down" size=4}}
{{/timeline-item-nav/slideshow/post/panels/hover-nav}}

{{#timeline-item-nav/slideshow/post/panels/hover-nav
  classNames="hover-nav-left"
  direction=-1
  scroll=(action "scrollHorizontal")
}}
  {{fa-icon "chevron-left" size=4}}
{{/timeline-item-nav/slideshow/post/panels/hover-nav}}
