{{yield}}

{{#if timelineItem.contentWarnings}}
  <div class="timeline-item-nav-post-cws-container">
    {{t "contentWarnings.abbreviation"}}:
    <ul class="timeline-item-nav-post-cws">
      {{#each timelineItem.contentWarnings as |cw|}}
        <li class="timeline-item-nav-post-cw">{{cw.name}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<div class="timeline-item-nav-post-constraint timeline-item-nav-post-text {{if userRevealedText 'timeline-item-nav-post-constraint-revealed'}}" tabindex="-1">
  <span class="timeline-item-nav-post-meta">
    {{#if timelineItem.isPrivate}}
      {{fa-icon "lock"}} |
    {{/if}}
    {{#if timelineItem.isUnderModeration}}
      <span class="timeline-item-nav-post-under-moderation">{{t "timelineItem.isUnderModeration"}} |</span>
    {{/if}}
    {{#link-to "users.user.profile.index" timelineItem.user.username classNames="timeline-item-nav-post-username"}}
      {{#if post.timelineItem.user.displayName}}
        {{{inject-emoji post.timelineItem.user.displayName}}}
      {{else}}
        @{{timelineItem.user.username}}
      {{/if}}
    {{/link-to}}
    <span class="timeline-item-nav-post-date">({{sometimes-relative-date date=timelineItem.date}})</span>
  </span>

  {{rich-text text=post.text author=timelineItem.user classNames="timeline-item-nav-post-current-text"}}

  {{#if historyIsRevealed}}
    {{#each post.textVersions as |textVersion|}}
      <div class="timeline-item-nav-post-text-version">
        <div class="moderation-panel-date">{{sometimes-relative-date date=textVersion.insertedAt}}</div>
        {{rich-text text=textVersion.text author=timelineItem.user}}
      </div>
    {{/each}}
  {{/if}}
</div>

{{#if textHidden}}
  <button {{action "revealText"}} class="reveal-text-toggle">
    {{t "post.more"}}
  </button>
{{/if}}
