<div class="scrollable content-constraint">
  <div class="padded">{{t "identities.explanation"}}</div>

  {{#identities-form/main user=model as |form|}}
    <button {{action "cancel"}} class="identities-form-controls-anchor">
      {{fa-icon "times" size=2 ariaLabel=(t "general.cancel") ariaHidden=false}}
    </button>
    {{#paper-button onClick=(action form.newUserIdentity) raised=true primary=true class="identities-form-controls-button"}}{{t "identities.add"}}{{/paper-button}}
    <button {{action "submit" form.userIdentities}} disabled={{disabled}} class="identities-form-controls-anchor {{if disabled 'identities-form-controls-anchor-disabled'}}">
      {{fa-icon "check" size=2 ariaLabel=(t "general.submit") ariaHidden=false}}
    </button>
  {{/identities-form/main}}
</div>
