{{#liquid-if isEditing}}
  {{timeline-item-nav/chat/comment-form
    comment=comment
    cancelable=true
    classNames="comment-form-edit"
    cancel=(action "stopEditing")
    addComment=(action "stopEditing")
  }}
{{else}}
  <div class="comment-content {{if isRouteComment 'is-route-comment'}} {{if comment.isMarkedForDeletion 'comment-muted'}}">
    <div class="comment-profile">
      {{#if comment.user.avatar}}
        {{#link-to "users.user.profile.index" comment.user.username disabled=isCollapsedChild}}
          <img class="comment-avatar" srcset={{comment.user.avatarThumb}} sizes="40px">
        {{/link-to}}
      {{/if}}
      {{#if comment.user.pronouns}}<div class="comment-pronouns">{{pronouns}}</div>{{/if}}
    </div>

    <div class="comment-main">
      <div class="comment-text {{if textIsOverflown 'comment-text-is-overflown'}}">
        {{#if historyIsRevealed}}
          {{#each comment.textVersions as |textVersion|}}
            <div class="comment-text-version">
              <div>{{sometimes-relative-date date=textVersion.insertedAt}}</div>
              {{rich-text text=textVersion.text author=comment.user}}
            </div>
          {{/each}}
        {{/if}}

        {{#rich-text text=comment.text author=comment.user}}
          {{#link-to "users.user.profile.index" comment.user.username class="comment-user-link" disabled=isCollapsedChild classNames="comment-username-link"}}{{#if comment.user.displayName}}{{{inject-emoji comment.user.displayName}}} {{/if}}<span class="at-username">@{{comment.user.username}}</span>{{/link-to}}
        {{/rich-text}}

        {{#if textIsOverflown}}
          <button {{action "expandOverflow"}} class="comment-text-expand-overflow">{{t "comments.expandOverflow"}}</button>
        {{/if}}
      </div>
      <div class="comment-controls">
        {{sometimes-relative-date date=comment.insertedAt}}
        | {{timeline-item-nav/slideshow/post/controls/reactions/main reactable=comment}}
        {{#if (not timelineItem.commentsLocked)}}
          | <button {{action "reply"}} class="link-like">{{t "comments.reply"}}</button>
        {{/if}}
        {{#if (eq currentUser.user.id comment.user.id)}}
          | <button {{action "startEditing"}} disabled={{deleteDisabled}} class="link-like">{{t "comments.edit"}}</button>
          | <button {{action "delete" comment}} disabled={{deleteDisabled}} class="link-like">{{t "comments.delete"}}</button>
        {{else if (and (and (not comment.isIgnoringFlags) (not isModerating)) (not-eq comment.user.id currentUser.user.id))}}
          | <button {{action "report"}} class="link-like">{{t "comments.report"}}</button>
        {{/if}}
        {{#if comment.isUnderModeration}}
          | {{t "timelineItem.isUnderModeration"}}
        {{/if}}
        {{#if showHistoryToggle}}
          {{#if historyIsRevealed}}
            | <button {{action "hideHistory"}} class="link-like">{{t "post.hideHistory"}}</button>
          {{else}}
            | <button {{action "viewHistory"}} class="link-like">{{t "post.history"}} ({{comment.textVersions.length}})</button>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
{{/liquid-if}}

{{#if replying}}
  {{timeline-item-nav/chat/comment-form
    timelineItem=timelineItem
    parent=replyParent
    commentable=timelineItem
    replyingTo=comment
    cancelable=true
    classNames="comment-form-reply"
    cancel=(action "closeReply")
    addComment=(action "closeReply")
  }}
{{/if}}

{{#if orderedFilteredChildren}}
  <div class="comment-children">
    {{#each orderedFilteredChildren as |child|}}
      {{timeline-item-nav/chat/comment comment=child timelineItem=timelineItem isCollapsedChild=childrenAreCollapsed routeComment=routeComment isModerating=isModerating wasClicked=(action "expandChildren") removeComment=(action "removeComment")}}
    {{/each}}

    {{#if childrenAreCollapsed}}
      <button {{action "expandChildren"}} class="comment-load-more link-like">{{t "comments.loadMore"}}</button>
    {{/if}}
  </div>
{{/if}}
