{{timeline-item-nav/slideshow/post/controls/reactions/reaction-icon
  id=currentReactionId
  reactable=reactable
  type=currentType
  disabled=disabled
  keyboardActivated=keyboardActivated
  isOpeningDisplayAllTypes=isOpeningDisplayAllTypes
  reacted=(and (eq currentType currentType) reacted)
  completeDisplayAllTypes=(action "completeDisplayAllTypes")
  displayAllTypes=(action "displayAllTypes")
  selectType=(action "selectType")
}}

{{#if shouldDisplayAllTypes}}
  {{#liquid-tether
    target="body"
    attachment="top left"
    targetAttachment="top left"
    class="modal-screen"
  }}
    <div class="reaction-selector-modal-close" {{action "closeDisplayAllTypes"}}></div>
  {{/liquid-tether}}
  {{#liquid-tether
    target=currentReactionIdHash
    attachment=tetherAttachment
    targetAttachment="middle middle"
    class="reaction-selector-modal"
  }}
    {{#each types as |type|}}
      {{timeline-item-nav/slideshow/post/controls/reactions/reaction-icon
        reactable=reactable
        type=type
        disabled=disabled
        isDisplayingTotal=true
        isOpeningDisplayAllTypes=isOpeningDisplayAllTypes
        shouldDisplayAllTypes=shouldDisplayAllTypes
        reacted=(and (eq currentType type) reacted)
        completeDisplayAllTypes=(action "completeDisplayAllTypes")
        displayAllTypes=(action "displayAllTypes")
        selectType=(action "selectType")
      }}
    {{/each}}
    <a {{action "viewAllReactions"}} class="reaction-selector-modal-view-all">{{t "reactions.viewAll"}}</a>
  {{/liquid-tether}}
{{/if}}
