{{image-editor/main
  panels=panels
  addImage=(action "addImage")
  removeImage=(action "removeImage")
  height=height
  width=width
}}

<div class="user-profile-avatar-editor-controls main-layout-constraint">
  <a class="user-profile-avatar-editor-controls-element" {{action "cancel"}}>{{fa-icon "times" size=2}}</a>
  <a class="user-profile-avatar-editor-controls-element" {{action "save"}}>{{fa-icon "check" size=2}}</a>
</div>
