<div class="post-nav-post-constraint post-nav-post-text">
    <div class="post-nav-post-top-line">
      <div class="post-nav-post-date">{{moment-format post.date "MMMM DD, YYYY"}} | {{#link-to "users.user.profile.index" post.user.id}}{{post.user.username}}{{/link-to}}{{#if (eq post.user.id user.id)}} | {{#link-to "posts.post.edit" post}}edit{{/link-to}}{{/if}}</div>
    </div>

    {{{inject-emoji (markdown-render post.text)}}}
</div>

<div class="post-nav-resize-toggle">
  <a {{action resizeType}}>
    {{#liquid-bind resizeType as |iconType|}}
      {{fa-icon iconType size=1}}
    {{/liquid-bind}}
  </a>
</div>

<a class="reveal-text-toggle" {{action "revealText"}}>{{t "post.more"}}</a>
