{{tag-summary/main
  tagSummaries=model
  selectedTagNames=tags
  selectedUserNames=users
  submenu=submenu
}}

<div class="tag-summary-time-buttons">
  {{#link-to "users.user.timeline" (query-params tags=tags users=users) class="tag-summary-time-button"}}{{t "tagSummary.start"}}: {{fa-icon "clock-o"}} {{fa-icon "arrow-right"}}{{/link-to}}
  {{#link-to "users.user.timeline" (query-params tags=tags users=users lastTimelineItem=true) class="tag-summary-time-button"}}{{fa-icon "arrow-left"}} {{fa-icon "clock-o"}} :{{t "tagSummary.start"}}{{/link-to}}
</div>
