<div class="padded">{{t "identities.explanation"}}</div>

{{#if currentUser.user}}
  {{#identities-form/main user=currentUser.user as |form|}}
    <button {{action "cancel"}} class="identities-form-controls-anchor">
      {{t "general.exit"}}
    </button>
    {{#paper-button onClick=(action form.newUserIdentity) raised=true primary=true class="identities-form-controls-button"}}{{t "identities.add"}}{{/paper-button}}
    <button {{action "submit" form.userIdentities}} disabled={{disabled}} class="identities-form-controls-anchor {{if disabled 'identities-form-controls-anchor-disabled'}}">
      {{t "general.continue"}}
    </button>
  {{/identities-form/main}}
{{/if}}
