<div class="post-form-image-container" style={{containerStyle}}>
  <div class="post-form-image-container-curtain">
    {{#if cameraOn}}
      {{ember-webrtc-capture
        takePicture=(action "takePicture")
      }}
    {{else if displayImage}}
      {{post-form/image/display-image displayImage=displayImage}}
      <a class="post-form-display-image-delete" {{action "deleteImage" displayImage}}>{{fa-icon "close"}}</a>
    {{/if}}
  </div>
</div>

<div class="post-form-image-carousel">
  <div class="post-form-image-carousel-item">
    {{#file-dropzone name="photos" as |dropzone queue|}}
      {{#if dropzone.active}}
        {{#if dropzone.valid}}
          {{t "file.drop"}}
        {{else}}
          {{t "file.invalid"}}
        {{/if}}
      {{else if queue.files.length}}
        {{t "file.progress" length=queue.files.length progress=queue.progress}}
      {{else}}
        {{#file-upload name="imageFile"
                       accept="image/*"
                       multiple=true
                       onfileadd=(action "uploadImage")}}
          <a id="upload-image" tabindex=0>{{fa-icon "plus"}}</a>
        {{/file-upload}}
      {{/if}}
    {{/file-dropzone}}
  </div>
  <div class="post-form-image-carousel-item">
    <a {{action "openCamera"}}>{{fa-icon "camera"}}</a>
  </div>
  {{#each panels as |panel|}}
    <div class="post-form-image-carousel-item">
      <a {{action "selectImage" panel}}>{{post-form/image/carousel-image panel=panel}}</a>
    </div>
  {{/each}}
</div>
