<div class="post-form-checkboxes">
  {{#paper-checkbox value=changeset.private onChange=(action (mut changeset.private))}}
    {{t "post.attributes.private.label"}}
  {{/paper-checkbox}}

  {{#paper-checkbox value=changeset.nsfw onChange=(action (mut changeset.nsfw))}}
    {{t "post.attributes.nsfw.label"}}
  {{/paper-checkbox}}
</div>

{{pikaday-input
  format="MM/DD/YYYY h:mm a"
  value=changeset.date
  classNames="pikaday-input"
  onSelection=(action (mut changeset.date))
}}

{{#emoji-picker-wrapper
  text                = changeset.text
  inputSelector       = ".post-form-textarea"
  emojiInsertedAction = (action (mut changeset.text))
  classNames="post-form-text-emoji-wrapper"
  as |h|
}}

  <div class="post-form-textarea-container">
    {{#taggable-textarea/main classNames="post-form-taggable-textarea"}}
      {{textarea value=changeset.text placeholder=(t "post.attributes.text.placeholder") class="post-form-textarea"}}
    {{/taggable-textarea/main}}
    {{component h.emojiAssist}}

    {{component h.emojiPickerToggler class="post-form-text-emoji-toggler"}}

    {{component h.emojiPicker class="post-form-text-emoji-picker"}}
  </div>

{{/emoji-picker-wrapper}}
