<div class="post-form-checkboxes">
  {{#paper-checkbox value=changeset.private onChange=(action (mut changeset.private))}}
    {{t "post.attributes.private.label"}}
  {{/paper-checkbox}}

  {{#paper-checkbox value=maturityRatingOpen onChange=(action (mut maturityRatingOpen))}}
    {{t "post.attributes.matureContent.label"}}
  {{/paper-checkbox}}
</div>

{{#if maturityRatingOpen}}
  <div class="post-form-maturity-rating">
    <div class="post-form-maturity-rating-description">
      {{maturity-rating rating=changeset.maturityRating}}
    </div>
    {{range-slider
      start=changeset.maturityRating
      connect="lower"
      min=1
      max=4
      step=1
      on-slide=(action (mut changeset.maturityRating))
    }}
  </div>
{{/if}}

{{pikaday-input
  format="MM/DD/YYYY h:mm a"
  value=changeset.date
  classNames="pikaday-input"
  onSelection=(action (mut changeset.date))
}}

{{#emoji-picker-wrapper
  text                = changeset.text
  inputSelector       = ".post-form-textarea"
  emojiInsertedAction = (action (mut changeset.text))
  classNames="post-form-text-emoji-wrapper"
  as |h|
}}

  <div class="post-form-textarea-container">
    {{#taggable-textarea/main classNames="post-form-taggable-textarea"}}
      {{textarea value=changeset.text placeholder=(t "post.attributes.text.placeholder") class="post-form-textarea"}}
    {{/taggable-textarea/main}}
    {{component h.emojiAssist}}

    {{component h.emojiPickerToggler class="post-form-text-emoji-toggler"}}

    {{component h.emojiPicker class="post-form-text-emoji-picker"}}
  </div>

{{/emoji-picker-wrapper}}
