<div class="post-form-checkboxes">
  {{#paper-checkbox value=changeset.private onChange=(action (mut changeset.private))}}
    {{t "post.attributes.private.label"}}
  {{/paper-checkbox}}

  {{#paper-checkbox value=changeset.nsfw onChange=(action (mut changeset.nsfw))}}
    {{t "post.attributes.nsfw.label"}}
  {{/paper-checkbox}}
</div>

{{paper-datetime-picker
  timestamp=changeset.date
}}

{{#emoji-picker-wrapper
  text                = changeset.text
  inputSelector       = ".post-form-textarea"
  emojiInsertedAction = (action (mut changeset.text))
  classNames="post-form-text-emoji-wrapper"
  as |h|
}}

  <div class="post-form-textarea-container">
    {{textarea value=changeset.text placeholder=(t "post.attributes.text.placeholder") class="post-form-textarea"}}
    {{component h.emojiAssist}}

    {{component h.emojiPickerToggler class="post-form-text-emoji-toggler"}}

    {{component h.emojiPicker class="post-form-text-emoji-picker"}}
  </div>

{{/emoji-picker-wrapper}}
