{{yield}}

{{#if options}}
  <ul class="taggable-textarea-options" style={{optionsStyle}}>
    {{#each options as |option|}}
      {{#if (eq option.constructor.modelName "tag")}}
        {{#taggable-textarea/option
          choose=(action "select" option.name)
          cancel=(action "cancel")
          navDown=(action "navDown")
          navUp=(action "navUp")
        }}
          <span class="taggable-textarea-option-text">#{{option.name}}</span>
        {{/taggable-textarea/option}}
      {{else if (eq option.constructor.modelName "user")}}
        {{#taggable-textarea/option
          choose=(action "select" option.username)
          cancel=(action "cancel")
          navDown=(action "navDown")
          navUp=(action "navUp")
        }}
          <img srcset={{option.avatarThumb}} sizes="40px" class="taggable-textarea-option-avatar">
          <span class="taggable-textarea-option-text">{{#if option.displayName}}{{option.displayName}}{{/if}}
          <span class="at-username">@{{option.username}}</span></span>
        {{/taggable-textarea/option}}
      {{/if}}
    {{/each}}
  </ul>
{{/if}}
