<div class="tag-summary-list">
  {{#each tags as |tag|}}
    {{#paper-button
      raised=true
      primary=tag.selected
      disabled=(not tag.isValid)
      onClick=(action "toggleTag" tag)
      class="tag-summary-list-item"
    }}#{{tag.model.name}}: {{tag.amount}}{{/paper-button}}
  {{/each}}

  <div class="tag-summary-list-divider"></div>

  {{#each users as |user|}}
    {{#paper-button
      raised=true
      primary=user.selected
      disabled=(not user.isValid)
      onClick=(action "toggleTag" user)
      class="tag-summary-list-item"
    }}@{{user.model.username}}: {{user.amount}}{{/paper-button}}
  {{/each}}
</div>

<div class="tag-summary-time-buttons">
  {{#link-to "users.user.timeline" (query-params tags=selectedTagIds users=selectedUserIds) class="tag-summary-time-button"}}{{t "tagSummary.start"}}: {{fa-icon "clock-o"}} {{fa-icon "arrow-right"}}{{/link-to}}
  {{#link-to "users.user.timeline" (query-params lastTimelineItem=true tags=selectedTagIds users=selectedUserIds) class="tag-summary-time-button"}}{{fa-icon "arrow-left"}} {{fa-icon "clock-o"}} :{{t "tagSummary.start"}}{{/link-to}}
</div>
