{{#paper-tabs
  center=false
  stretch=true
  borderBottom=true
  selected=currentSubmenu
  onChange="changeSubmenu" as |tabs|}}
  {{#tabs.tab value="tags"}}
    {{t "tagSummary.tags"}}
  {{/tabs.tab}}

  {{#tabs.tab value="relationships"}}
    {{t "tagSummary.relationships"}}
  {{/tabs.tab}}

  <a {{action "clear"}} class="tag-summary-submenu-clear {{if clearButtonDisabled 'disabled'}}">
    {{fa-icon "times-circle-o"}}
  </a>
{{/paper-tabs}}

<div class="tag-summary-filter-wrapper">
  {{fa-icon "search"}}
  {{paper-input value=filter ariaLabel=(t "tagSummary.search") onChange="filter" classNames="tag-summary-filter"}}
</div>

<div class="tag-summary-list {{if (eq currentSubmenu 'tags') 'tag-summary-list-active'}}">
  {{#link-to "users.user.timeline" class="tag-summary-all-button"}}{{t "tagSummary.all"}}{{/link-to}}

  {{#each (sort-by "amount:desc" tags) as |tag|}}
    {{#if tag.isValid}}
      {{#paper-button
        raised=tag.selected
        accent=tag.selected
        disabled=(not tag.isValid)
        onClick=(action "toggleTag" tag)
        class="tag-summary-list-item"
      }}
        #{{tag.model.name}}: {{tag.amount}}
      {{/paper-button}}
    {{/if}}
  {{/each}}
</div>

<div class="tag-summary-list {{if (eq currentSubmenu 'relationships') 'tag-summary-list-active'}}">
  {{#link-to "users.user.timeline" class="tag-summary-all-button"}}{{t "tagSummary.all"}}{{/link-to}}
  
  {{#each (sort-by "amount:desc" users) as |user|}}
    {{#if user.isValid}}
      {{#paper-button
        raised=user.selected
        accent=user.selected
        disabled=(not user.isValid)
        onClick=(action "toggleTag" user)
        class="tag-summary-list-item"
      }}
        @{{user.model.username}}: {{user.amount}}
      {{/paper-button}}
    {{/if}}
  {{/each}}
</div>
