<div class="full-height-scrollable-content">
  <h2>{{t "coc.title"}}</h2>
  <h3>{{t "coc.goal.title"}}</h3>
  <ul>
    <li>{{t "coc.goal.1"}}</li>
    <li>{{t "coc.goal.2"}}</li>
  </ul>

  <h3>{{t "coc.guidelines.title"}}</h3>
  <p>{{t "coc.guidelines.1"}}</p>
  <ul>
    <li>{{t "coc.guidelines.respect.1"}}</li>
    <ul>
      <li>{{t "coc.guidelines.respect.2"}}</li>
    </ul>
    <li>{{t "coc.guidelines.disrespect.title"}}</li>
    <ul>
      <li>{{t "coc.guidelines.disrespect.1"}}</li>
      <ul>
        <li>{{t "coc.guidelines.disrespect.2"}}</li>
        <li>{{t "coc.guidelines.disrespect.3"}}</li>
      </ul>
      <li>{{t "coc.guidelines.disrespect.4"}}</li>
      <li>{{t "coc.guidelines.disrespect.5"}}</li>
      <li>{{t "coc.guidelines.disrespect.6"}}</li>
      <li>{{t "coc.guidelines.disrespect.7"}}</li>
      <li>{{t "coc.guidelines.disrespect.8"}}</li>
      <li>{{t "coc.guidelines.disrespect.9"}}</li>
    </ul>
  </ul>

  <h3>{{t "coc.yourDiscomfort.title"}}</h3>
  <p>{{t "coc.yourDiscomfort.1"}}</p>
  <ul>
    <li>{{t "coc.yourDiscomfort.2"}}</li>
    <ul>
      <li>{{t "coc.yourDiscomfort.3"}}</li>
      <li>{{t "coc.yourDiscomfort.4"}}</li>
      <li>{{t "coc.yourDiscomfort.5"}}</li>
    </ul>
    <li>{{t "coc.yourDiscomfort.6"}}</li>
    <li>{{t "coc.yourDiscomfort.7"}}</li>
    <li>{{t "coc.yourDiscomfort.8"}}</li>
  </ul>

  <h3>{{t "coc.othersDiscomfort.title"}}</h3>
  <p>{{t "coc.othersDiscomfort.1"}}</p>
  <ul>
    <li>{{t "coc.othersDiscomfort.2"}}</li>
    <li>{{t "coc.othersDiscomfort.3"}}</li>
    <li>{{t "coc.othersDiscomfort.4"}}</li>
    <li>{{t "coc.othersDiscomfort.5"}}</li>
    <li>{{t "coc.othersDiscomfort.6"}}</li>
    <li>{{t "coc.othersDiscomfort.7"}}</li>
    <li>{{t "coc.othersDiscomfort.8"}}</li>
    <li>{{t "coc.othersDiscomfort.9"}}</li>
  </ul>

  <h3>{{t "coc.enforcement.title"}}</h3>
  <p>{{t "coc.enforcement.1"}}</p>
  <p>{{t "coc.enforcement.2"}}</p>
  <ul>
    <li>{{t "coc.enforcement.3"}}</li>
    <li>{{t "coc.enforcement.4"}}</li>
    <li>{{t "coc.enforcement.5"}}</li>
  </ul>
  <p>{{t "coc.enforcement.6"}}</p>

  <h3>{{t "coc.sources.title"}}</h3>
  <p>{{t "coc.sources.1"}}</p>
  <ul>
    <li><a href="https://www.elastic.co/community/codeofconduct" target="_blank">https://www.elastic.co/community/codeofconduct</a></li>
    <li><a href="https://api.slack.com/docs/community-code-of-conduct" target="_blank">https://api.slack.com/docs/community-code-of-conduct</a></li>
    <li><a href="https://docs.google.com/document/d/1rmdKPud9g-zWmC3VOHezlfnGHi7j4NunixSTgB3nAzc" target="_blank">{{t "coc.sources.4"}}</a></li>
  </ul>
  <p>{{t "coc.sources.5"}}</p>
</div>
