{{#if (and session.isAuthenticated modelIsPresent)}}
  {{post-nav/main
    posts=model
    initialPostId=postId
    commentsAreOpen=comments
    action="loadMorePosts"
    changePost=(action "changePost")
    openComments=(action "openComments")
    closeComments=(action "closeComments")
  }}
{{else}}
  <div class="cover-page">
    <div class="cover-page-lead">{{{t "coverPage.lead"}}}</div>

    <ul class="cover-page-feature-list">
      <li>{{fa-icon "transgender-alt" size=2 class="cover-page-feature-list-icon"}}<span class="cover-page-feature-list-text">{{{t "coverPage.features.trans"}}}</span></li>

      <li>{{fa-icon "hashtag" size=2 class="cover-page-feature-list-icon"}}<span class="cover-page-feature-list-text">{{{t "coverPage.features.timeline"}}}</span></li>

      <li>{{fa-icon "rss" size=2 class="cover-page-feature-list-icon"}}<span class="cover-page-feature-list-text">{{{t "coverPage.features.privacy"}}}</span></li>

      <li>{{fa-icon "retweet" size=2 class="cover-page-feature-list-icon"}}<span class="cover-page-feature-list-text">{{{t "coverPage.features.social"}}}</span></li>
    </ul>

    <div class="cover-page-note">{{fa-icon "asterisk"}} {{{t "coverPage.note"}}}</div>
  </div>
{{/if}}
