<div class="post-nav-slideshow-panels">
  {{#if nsfw}}
    <div class="post-nav-slideshow-nsfw">
      <h2>{{t "nsfw.header"}}</h2>
      <div class="post-nav-slideshow-nsfw-info">{{{t "nsfw.session"}}}</div>
      <div class="post-nav-slideshow-nsfw-info">{{{t "nsfw.storage"}}}</div>

      <div class="post-nav-slideshow-nsfw-buttons">
        {{#paper-button
          raised=true
          onClick=(action "viewNsfwForSession")
        }}
          {{t "nsfw.enable"}} {{fa-icon "clock-o"}}
        {{/paper-button}}
        {{#paper-button
          raised=true
          onClick=(action "viewNsfwForAlways")
        }}
          {{t "nsfw.enable"}} ∞
        {{/paper-button}}
      </div>
    </div>
  {{else}}
    {{#each post.panels as |panel|}}
      {{component panel.postNavComponent
        panel=panel
        navState=navState
      }}
    {{/each}}
  {{/if}}
</div>

{{#if shouldRenderPost}}
  {{post-nav/slideshow/post/text
    post=post.model
    textExpanded=textExpanded
    isBlank=isBlank
    isCurrentPost=isCurrentPost
    scrollLocked=(not-eq navState.progress 0)
    classNames="main-layout-constraint"
    expandText=expandText
    compressText=compressText
    removePost=removePost
    deletePost=(route-action "deletePost")
  }}

  {{post-nav/slideshow/post/controls/main
    post=post.model
    isCurrentPost=isCurrentPost
    classNames="main-layout-constraint"
    toggleChat=(action "toggleChat")
  }}
{{/if}}
