<div class="post-nav-post-constraint post-nav-post-text" tabindex="-1">
    <div class="post-nav-post-top-line">
      <div class="post-nav-post-date">
        {{sometimes-relative-date date=post.date}}
        | {{#link-to "users.user.profile.index" post.user.username}}{{post.user.username}}
          {{#if post.user.userProfile.displayName}}({{{inject-emoji post.user.userProfile.displayName}}}){{/if}}{{/link-to}}
        {{#if (eq post.user.id user.id)}}
          | {{#link-to "posts.post.edit" post disabled=controlsDisabled}}{{t "post.edit"}}{{/link-to}}
          | <a {{action "delete"}} disabled={{controlsDisabled}} tabindex="0" class="link">{{t "post.delete"}}</a>
        {{/if}}
        {{#if post.nsfw}}
          | {{t "post.nsfw"}}
        {{/if}}
        {{#if post.private}}
          | {{t "post.private"}}
        {{/if}}
      </div>
    </div>

    {{rich-text text=post.text}}
</div>

<a class="reveal-text-toggle" {{action "revealText"}}>{{t "post.more"}}</a>
